@model Techno_uus.Models.SportGames

<h1>Kustuta skoor</h1>

<div>
    <tabel>
        <tr>
            <td>@Html.DisplayFor(Model => Model.SportName)</td>
            <td>@Html.DisplayNameFor(Model => Model.SportName)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.FirstTeamName)</td>
            <td>@Html.DisplayNameFor(Model => Model.FirstTeamName)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.HomeTeamPlayers)</td>
            <td>@Html.DisplayNameFor(Model => Model.HomeTeamPlayers)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.SecondTeamName)</td>
            <td>@Html.DisplayNameFor(Model => Model.SecondTeamName)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.GameResult)</td>
            <td>@Html.DisplayNameFor(Model => Model.GameResult)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.HalfTimeScore)</td>
            <td>@Html.DisplayNameFor(Model => Model.HalfTimeScore)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.SecondHalfTimeScore)</td>
            <td>@Html.DisplayNameFor(Model => Model.SecondHalfTimeScore)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.MatchEndScore)</td>
            <td>@Html.DisplayNameFor(Model => Model.MatchEndScore)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.Date)</td>
            <td>@Html.DisplayNameFor(Model => Model.Date)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.StartTime)</td>
            <td>@Html.DisplayNameFor(Model => Model.StartTime)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.HalfTime)</td>
            <td>@Html.DisplayNameFor(Model => Model.HalfTime)</td>
        </tr>
            <td>@Html.DisplayFor(Model => Model.MatchStatus)</td>
            <td>@Html.DisplayNameFor(Model => Model.MatchStatus)</td>
        </tr>
    </tabel>
</div>

<form asp-action="Delete"method="post">
    <input type="hidden" asp-for="GameId" />
    <input  type="submit" value="Kustuta skoor" class="btn btn-danger"/>
    <a asp-action="Index">Mine tagasi loendisse</a>
</form>
