@model Techno_uus.Models.StudyGroup

<h1>Õpperühma info / Kustuta</h1>
<dl>


	<dt>@Html.DisplayNameFor(m => m.GroupName)</dt>
	<dd>@Html.DisplayFor(m => m.GroupName)</dd>

	<dt>@Html.DisplayNameFor(m => m.StudyStart)</dt>
	<dd>@Html.DisplayFor(m => m.StudyStart)</dd>

	<dt>@Html.DisplayNameFor(m => m.StudyEnd)</dt>
	<dd>@Html.DisplayFor(m => m.StudyEnd)</dd>

	<dt>@Html.DisplayNameFor(m => m.LeaderPupil)</dt>
	<dd>@Html.DisplayFor(m => m.LeaderPupil)</dd>

	<dt>@Html.DisplayNameFor(m => m.ClassroomInfo)</dt>
	<dd>@Html.DisplayFor(m => m.ClassroomInfo)</dd>

	<dt>@Html.DisplayNameFor(m => m.Level)</dt>
	<dd>@Html.DisplayFor(m => m.Level)</dd>

</dl>

@if (ViewBag.Värv == "Delete")
{
	<h3>Kustuta</h3>

	<form asp-action="Delete"method="post">
		<input type="hidden" asp-for="StudyGroupId" />
		<button type="submit">Kustuta</button>
		<a asp-action="Index">Tagasi</a>
	</form>
}
else 
{
	<a  asp-action="Edit" asp-route-id="@Model.StudyGroupId">Muuda</a>
	<a  asp-action="Delete" asp-route-id="@Model.StudyGroupId">Kustuta</a>
	<a  asp-action="Index">Tagasi</a>
}
<form  asp-action="Delete">
	<input type="hidden"asp-for="StudyGroupId" />
	<button type="submit">Kustuta</button>
	<a asp-action="Index">Tagasi</a>
</form>