@model Techno_uus.Models.ArtGallery

@{
    ViewData["Title"] = "Töö details";
}

<h1>@Model.ArtWorkTitle</h1>
<tr><partial name="Details" model="@Model.Image"></partial> IMAGE HERE</tr>
<div class="mb-3">
    <p><strong>Autor:</strong>@Model.PupilName</p>

   
    
     <p><strong>Õpilase ID:</strong> @Model.PupilId</p>
    

    <p><strong>Kirjeldus:</strong> @Model.ArtWorkDescription</p>
    <p><strong>Loomise kuupäev:</strong> @Model.CreationDate</p>
    <p><strong>Esitatud:</strong> @Model.SubmittedAt.ToString("yyyy-MM-dd HH:mm")</p>
</div>



    <div class="mb-3">
        <img src="@Model.ImagePath" alt="@Model.ArtWorkTitle" style="max-width: 500px; height: auto;" class="img-fluid" />
    </div>


    <a asp-action="Index" class="btn btn-primary">Tagasi</a>

    <form asp-action="Delete" asp-route-id="@Model.ArtId" method="post" >
        <button type="submit" class="btn btn-danger"></button>
    </form>

