@model Techno_uus.Models.ArtGallery

@{
    ViewData["Title"] = "Töö details";
}

<h1>@Model.ArtWorkTitle</h1>
<div class="mb-3">
    <p><strong>Autor:</strong>@Model.PupilName</p>

   
    
     <p><strong>Õpilase ID:</strong> @Model.PupilId</p>
    

    <p><strong>Kirjeldus:</strong> @Model.ArtWorkDescription</p>
    <p><strong>Loomise kuupäev:</strong> @Model.CreationDate</p>
    <p><strong>Esitatud:</strong> @Model.SubmittedAt.ToString("yyyy-MM-dd HH:mm")</p>
</div>



    <div class="mb-3">
        <img src="@Model.Image" alt="@Model.ArtWorkTitle" style="max-width: 500px; height: auto;" class="img-fluid" />
    </div>


@if (!string.IsNullOrEmpty(Model.ImagePath))
{
    <img src="@Model.ImagePath" style="max-width:300px;" />
}
else
{
    <p>Pilti pole</p>
    <img width="200" src="~/lib/defaultassets/image/noposter.png" />
}

    <form>
        <a asp-action="Index" class="btn btn-primary">Tagasi</a>
    </form>

